# Copy this file to $HOME/.config/systemd/user
# And start service: 
#  systemctl --user enable homealone
# Start:
#  systemctl --user start homealon
# Logs:
#  journalctl --user -u homealone -f

[Unit]
Description=HomeAlone Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pochemuto/homealone/homealone

[Install]
WantedBy=multi-user.target