# Copy this file to $HOME/.config/systemd/user
# And start service: 
#  systemctl --user enable homealone
# Start:
#  systemctl --user start homealone
# Logs:
#  journalctl --user -u homealone -f

[Unit]
Description=HomeAlone Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/home/pochemuto/homealone/environment
ExecStart=/home/pochemuto/homealone/homealone --alsologtostderr

[Install]
WantedBy=default.target
